[submodule "backend"]
	path = backend
	url = git@github.com:VK-backend-test-task/backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:VK-backend-test-task/frontend.git
[submodule "pinger"]
	path = pinger
	url = git@github.com:VK-backend-test-task/pinger.git
